commonAnnotations:
  app.gitlab.com/env: ${CI_ENVIRONMENT_SLUG}
  app.gitlab.com/app: ${CI_PROJECT_PATH_SLUG}
  kubernetes.io/ingress.class: traefik

resources:
  - s3-ingressroute.yml
  # - s3-certificate.yml
  # - s3-kes-ingressroute.yml
  # - s3-kes-certificate.yml

patchesStrategicMerge:
  # - web_nw_networkpolicy_namespaceselector.yml
