.button {
  border-radius: 27px;
  background-color: var(--color-green-leaf);
  color: var(--color-white);
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.375;
  padding: 14px 36px 16px;
  border: 1px solid var(--color-green-leaf);
  cursor: pointer;
  user-select: none;
  transition: background-color 0.2s ease-in-out;
  > svg {
    display: inline-block;
    vertical-align: bottom;
    width: 18px;
    height: 20px;
    margin-right: 20px;
    fill: var(--color-white);
  }
  &:hover {
    color: var(--color-dark);
    background-color: transparent;
    > svg {
      fill: var(--color-dark);
    }
  }
  &:disabled {
    color: var(--color-white);
    background-color: var(--color-grey-light);
    border-color: var(--color-grey-light);
    cursor: not-allowed;
  }
  &:active {
    color: var(--color-green-leaf);
    background-color: transparent;
    transition: color 0s;
    > svg {
      fill: var(--color-green-leaf);
    }
  }
  &:focus {
    box-shadow: 0 0 0 3px var(--color-white), 0 0 0 5px var(--color-green-leaf);
    outline: 0;
  }
  &--inverted {
    &:hover {
      color: var(--color-white);
    }
  }
  &--secondary {
    background-color: transparent;
    color: var(--color-dark);
    border-color: var(--color-grey-mid);
    > svg {
      fill: var(--color-dark);
    }
    &:hover {
      border-color: var(--color-green-leaf);
    }
    &:focus {
      box-shadow: 0 0 0 3px var(--color-white), 0 0 0 5px var(--color-grey-mid);
    }
    &.button--inverted {
      border-color: var(--color-white);
      background-color: transparent;
      color: var(--color-white);
      &:hover {
        border-color: var(--color-green-leaf);
        > svg {
          fill: var(--color-white);
        }
      }
      &:active {
        color: var(--color-green-leaf);
        border-color: var(--color-green-leaf);
      }
      > svg {
        fill: var(--color-green-leaf);
      }
    }
  }
  &--icon {
    padding-left: 22px;
  }
}
