.partner-wrapper {
  position: relative;
  margin-bottom: var(--spacing-l);
}
.partner-list {
  display: flex;
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; // smooth scrolling for iOS
  -ms-overflow-style: -ms-autohiding-scrollbar; // hide scrollbar for edge
  &::-webkit-scrollbar {
    // hide scrollbar for webkit browsers
    display: none;
  }
  @media screen and (min-width: 904px) {
    justify-content: center;
  }
  &__item {
    margin: 0 var(--spacing-xs);
    width: 100px;
    height: 100px;
    flex: 0 0 auto;
    @media screen and (min-width: 1214px) {
      width: 130px;
      height: 130px;
    }
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
