.request-body {
  > .request-date {
    display: block;
    margin-bottom: 24px;

    @media screen and (min-width: 1024px) {
      margin-bottom: 12px;
    }
  }
  > h1 {
    margin-bottom: 32px;
  
    @media screen and (min-width: 1024px) {
      margin-bottom: 60px;
    }
  }
  > .request-description {
    margin-bottom: var(--spacing-m);
    svg {
      display: inline-block;
      margin-right: var(--spacing-xxs);
    }
  }
}
