.field {
  .field__text {
    width: 100%;
    &.disabled_field {
      background-color: var(--color-grey-ultralight);
    }
  }
  &--error {
    .field__label {
      color: var(--color-red-error);
    }
    .field__text {
      border-color: var(--color-red-error);
      &:focus {
        border-color: var(--color-red-error);
      }
    }
  }
  &--new-line {
    grid-column-start: 1;
  }
  &__label {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    display: block;
    &--small {
      font-size: 12px;
      line-height: 16px;
      font-weight: 500;
    }
  }

  &__text {
    margin-top: var(--spacing-xxs);
    font-size: 16px;
    color: var(--color-dark);
    line-height: 22px;
    font-weight: 600;
    border: 1px solid var(--color-grey-light);
    padding: 18px 32px 22px;
    border-radius: var(--radius-l);
    outline: 0;
    &::placeholder {
      color: var(--color-grey-mid);
    }
    &:focus {
      background-color: var(--color-white);
      border-color: var(--color-grey-dark);
    }
  }
  &__error {
    display: inline-grid;
    grid-auto-flow: column;
    font-size: 14px;
    color: var(--color-red-error);
    font-weight: 400;
    margin-top: var(--spacing-xxs);

    svg {
      margin-right: var(--spacing-xxs);
    }
  }
}
