$breakpoint-fluid: 1024px;
.mcm-search-form {
  > .button {
    display: none;
    margin-bottom: none;
  }

  > .search-field {
    padding-top: 13px;
    padding-bottom: 17px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;

    > .search-field {
      margin-right: 36px;
      max-width: 580px;
    }
    > .button {
      display: inline-block;
    }
  }
}
.salaries-card {
  display: flex;
  &__name {
    flex: 1 0 13%;
    width: 100%;
    justify-content: space-between;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: var(--spacing-xxs);
  }

  &__first-btn {
    display: inline-block;
    margin-right: 5px;
  }

  &__no-result {
    font-size: 20px;
    text-align: center;
  }

  &__gestionnaire-btn {
    display: flex;
    margin-left: auto;
    margin-right: 5px;

    @media screen and (max-width: 768px) {
      margin: 0px auto;
      display: flex;
      flex-direction: column;
    }
  }
}

.supression-superviseur {
  button:first-child:hover {
    border-color: var(--color-red-error);
  }
}

.gestion-btn {
  button:first-child {
    margin-right: 10px;
  }
}

.supression-btn {
  button:first-child:hover {
    border-color: var(--color-red-error);
  }
}

.salaries-list {
  > .salaries-card {
    position: relative;
  }

  &__affiliation-btn {
    display: flex;
    flex-direction: row;
    margin-right: auto;
  }

  .button button--secondary {
    width: 20px;
  }
}

.mcm-gerer-salaries {
  .mcm-search-form {
    > .search-field {
      padding-top: 13px;
      padding-bottom: 17px;
    }
  }
}

.mcm-salaries-section {
  background: var(--color-grey-ultralight);
  border: 1px solid var(--color-grey-light);
  border-radius: 8px;
  padding: var(--spacing-s);
  margin-bottom: var(--spacing-xs);

  .mcm-section-header {
    margin-bottom: var(--spacing-xs);
  }

  .gerer-salarie__first-group {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
  }

  .load-more-btn {
    display: flex;
    justify-content: center;
  }

  .load-less {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 1032px) {
  .gerer-salarie__first-group {
    display: flex;
    flex-direction: column;
  }
}

.total-employees {
  margin-bottom: var(--spacing-m);
  font-size: 24px;
}
