<%- include('utils'); %>

<% const webSiteFQDN = process.env.WEBSITE_FQDN %>
  <% const websiteLink = webSiteFQDN ? `https://${webSiteFQDN}/mentions-legales-cgu`
    : 'http://localhost:8000/mentions-legales-cgu' %>

<% const footerLink = getLink("mob-footer.png") %>
    <table style="height: 150px;width: 100%;text-align: center;color: white;margin-top: 40px;max-width: 640px;background-color: #464CD0;width:640px;">
      <tr>
        <td>
          <p>
            &copy; Mon Compte Mobilité - Tous droits réservés -
            <a
              style="color: white;"
              href="<%= websiteLink %>"
              >Mentions légales
            </a>
          </p>
          <img style="padding-top: 15px;width: auto;height: 50px;object-fit: contain;" src="<%=footerLink %>" alt="mob footer" />
        </td>
      </tr>
    </table>
