<%- include('utils'); %>

  <% const headerLink = getLink("logo-with-baseline.png") %>
    <table style="margin-bottom: 40px;max-width: 640px;width: 640px;">
      <tr style="text-align: center;">
        <td>
          <img style="width: auto;height: 50px;" src="<%=headerLink %>" alt="mob header" />
        </td>
      </tr>
    </table>