.file_bloc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-xs) 0;
  padding-right: var(--spacing-xs);
  border-bottom: 1px solid var(--color-grey-light);
  &:last-child {
    border-bottom: unset;
  }
  div {
    display: flex;
    align-items: center;
  }
  > div {
    display: grid;
    column-gap: var(--spacing-xs);

    margin-right: var(--spacing-xs);

    p {
      grid-column-start: 2;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      &:last-child {
        font-size: 14px;
      }
    }
  }
  button {
    color: var(--color-green-leaf);
  }
}
