.mcm-aide {
  &__header {
    display: flex;

    .header-body {
      max-width: 670px;

      h1 {
        margin-bottom: 24px;
      }

      .h1 {
        margin-bottom: 60px;
      }

      p {
        margin-bottom: 40px;
      }

      button {
        width: 100%;
        text-transform: uppercase;
        @media screen and (min-width: 585px) {
          width: auto;
        }
      }
    }

    .header-img {
      flex: 1;
      position: relative;
      height: 450px;

      &__wrapper {
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 450px;
        > div {
          position: static !important;
        }
        @media screen and (min-width: 1024px) {
          display: block;
          left: 40%;
          width: 700px;
        }
        //@media screen and (min-width: 1300px) {
        //  left: auto;
        //  right: calc(100% - 50vw);
        //}
      }
    }
  }

  .mcm-tags {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;

    &__item {
      border-radius: 12px;
      background-color: var(--color-grey-ultralight);
      font-size: 14px;
      padding: 4px 12px;
      margin-bottom: 16px;
      white-space: nowrap;
      &:not(:last-child) {
        margin-right: 12px;
      }
    }
  }

  .mcm-tabs__content.has-show-more.has-info {
    > .page-container {
      display: flex;
    }
  }

  @media screen and (max-width: 576px) {
    .mcm-tabs__content.has-show-more.has-info {
      > .page-container {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
