.mcm-subscription {
  margin-bottom: 60px;
  .mcm-demande__button-section {
    margin-top: 32px;
  }
  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-gap: 0 24px;
    margin-bottom: 120px;
  }
  &__main {
    margin-bottom: 48px;
    @media screen and (min-width: 768px) {
      grid-column: 1 / span 7;
      margin-bottom: 0;
    }
  }
  &__sidebar {
    @media screen and (min-width: 768px) {
      grid-column: 9 / span 4;
    }
  }

  @media screen and (min-width: 1024px) {
    .mcm-demande__button-section {
      display: flex;
      justify-content: space-between;
    }
  }

  @media screen and (max-width: 1023px) {
    .mcm-demande__button-section button {
      width: 100%;
      margin-top: var(--spacing-xs);
      margin-bottom: var(--spacing-xs);
    }
  }

  .field {
    margin-top: var(--spacing-s);
    .field__text,
    .field__select {
      width: 40%;
    }
    .field__select {
      margin-top: 0px;
    }
  }

  span.field__error {
    display: flex;
  }

  @media screen and (max-width: 1023px) {
    .field .field__text,
    .field .field__select {
      width: 100%;
    }
    span.field__error {
      display: inline-grid;
    }
  }

  .form-bloc {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-column-gap: 20px;

    .mcm-filters__dropdown {
      display: flex;
      align-items: flex-end;
    }

    input.field__text {
      width: 100%;
    }
  }

  .check-tos {
    margin-top: var(--spacing-s);
  }

  .next-btn {
    margin-bottom: var(--spacing-m);
  }

  .mcm-filters__dropdown {
    .field {
      .field__label {
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
      }
    }
    .field__select {
      margin-top: 15px;
      margin-bottom: 25px;
      width: 100%;

      .field__label {
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        &:first-letter {
          text-transform: capitalize;
        }
      }
    }

    .field--error {
      margin-top: unset;
    }
  }

  .required {
    display: inline-block;
    margin-left: 30px;
  }

  .profil-info {
    margin-top: var(--spacing-s);
  }
  .mt-m {
    grid-column: 1 /12 span;
  }

  .additional-info {
    & > div {
      padding: 0 32px;
    }
    .card_info {
      color: var(--color-grey-mid);
      border-top: 1px solid var(--color-grey-light);
      padding-top: 32px;
    }
  }

  .app_justif {
    margin-bottom: var(--spacing-s);
    .justif_title {
      margin-bottom: var(--spacing-xs);
    }
  }

  .add_justif {
    border-radius: 8px;
    background: var(--color-grey-ultralight);
    padding: 24px 24px 32px 24px;
    button {
      display: flex;
      align-items: center;
      color: var(--color-green-leaf);
      p {
        font-weight: bold;
      }
    }
    button:disabled {
      cursor: not-allowed;
      color: var(--color-grey-dark);
    }
  }

  .icon {
    width: 25px;
    height: 30px;
    margin-right: 30px;

    svg {
      width: auto;
      height: 100%;
    }
  }
}
.file_bloc_container {
  max-height: 165px;
  overflow-y: auto;
  padding: 10px 0;
}

.mcm-filters__dropdown {
  width: 100%;
}

@media screen and (max-width: 576px) {
  .mcm-subscription {
    .form-bloc {
      grid-template-columns: 1fr;
    }
    .mt-m {
      display: flex;
      flex-direction: column;
      button {
        width: fit-content;
      }
      .required {
        margin-left: 0;
        margin-top: 18px;
      }
    }
  }
}
