.mcm-row-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: var(--spacing-xs);
  margin-bottom: var(--spacing-xs);
  border-bottom: 1.5px solid var(--color-grey-light);
  flex: 5;
  &:last-child {
    border: none;
  }
  .mcm-row-label {
    color: var(--color-grey-mid);
    flex: 1;
    font-size: 18px;
  }
  .mcm-row-value {
    color: var(--color-dark);
    flex: 1;
    display: flex;
    }
  p,
  a {
    font-size: 18px;
  }

  a {
    cursor: pointer;
    &:hover {
      color: var(--color-grey-light);
    }
  }
  .mcm-row-action {
    color: var(--color-green-leaf-dark);
    width: 200px;
    text-align: end;
  }

  @media screen and (max-width: 1024px) {
    flex-direction: column;
    align-items: baseline;
    .mcm-row-action {
      color: var(--color-green-leaf-dark);
      position: absolute;
      right: 0;
      margin-top: 4px;
    }
    .mcm-row-value {
      color: var(--color-dark);
      flex: 2;
    }
  }

  @media screen and (max-width: 576px) {
    .mcm-row-action {
      flex-direction: column;
      position: static;
      text-align: start;
      margin-top: 30px;
    }
    .mcm-row-value {
      word-break: break-all;
    }
  }
}
