.mcm-tabs {
  margin-top: 20px;
  @media screen and (min-width: 1024px) {
    margin-top: 100px;
  }

  &__labels {
    display: flex;
    white-space: nowrap;
    overflow-x: scroll;
    @media screen and (min-width: 1024px) {
      white-space: normal;
      overflow-x: auto;
    }

    .tab-label {
      margin-right: 40px;

      &:last-child {
        padding-right: 24px;
      }

      button {
        outline: 0;
        font-size: 20px;
        padding-bottom: 32px;
        border-bottom: 2px solid white;
      }

      &--active {
        button {
          color: var(--color-blue-petrol);
          font-weight: 500;
          border-color: var(--color-blue-petrol);
        }
      }
    }
  }

  &__content {
    background-color: var(--color-grey-ultralight);
    padding: 40px 0;

    @media screen and (min-width: 1024px) {
      .container-card {
        top: 0;
        right: 24px;
        width: 500px;
        margin-top: 0;
      }
    }

    .page-container {
      display: flex;
      @media screen and (max-width: 768px) {
        flex-direction: column;
      }
      > .content-list {
        text-align: justify;
        padding-right: 20px;

        @media screen and (min-width: 1024px) {
          width: 50%;
          margin-right: 60px;
        }
      }
      a {
        color: blue;
      }
      a:hover {
        text-decoration: underline;
      }

      .show-more,
      .has-show-more {
        display: flex;
        position: absolute;
        background: linear-gradient(
          180deg,
          rgba(247, 247, 249, 0) 0%,
          #f7f7f9 70%
        );
        height: 130px;
        align-items: flex-end;
        margin-top: -75px;
        margin-bottom: 24px;
        position: relative;
        z-index: 1;

        &__button {
          color: var(--color-green-leaf);
          font-weight: 600;
          border: none;
          background-color: transparent;
        }
      }
    }

    .tab {
      max-height: none;
      overflow-y: visible;
      padding-bottom: 40px;

      &.not-expanded {
        max-height: 700px;
        overflow-y: hidden;

        .has-show-more {
          display: flex;
        }
      }
      &.is-expanded {
        max-height: none;
        overflow-y: visible;
        .show-more {
          display: none;
        }
      }
    }

    &.has-info {
      position: relative;

      .additional-info {
        background-color: var(--color-white);
        padding: 28px 32px 32px;
        border-radius: 8px;
        margin-top: 24px;
        display: block;
        word-wrap: break-word;
        width: 500px;
        @media screen and (max-width: 768px) {
          display: block;
          right: 24px;
          top: 0;
          width: 100%;
          margin-top: 0;
          margin-bottom: 40px;
          word-wrap: break-word;
        }

        &__header {
          display: flex;
          align-items: center;
          font-size: 22px;
          font-weight: 600;
          margin-bottom: 18px;

          svg {
            width: 50px;
            height: 50px;
            margin-right: 16px;
          }
        }

        &__body {
          font-size: 18px;
          line-height: 26px;
        }

        a {
          color: var(--color-blue-petrol);
        }
        a:hover {
          text-decoration: underline;
        }
      }
    }

    ul,
    ol {
      list-style: disc;
      padding-left: 20px;
      font-size: 18px;
      margin: 20px 0;

      li {
        margin-bottom: 16px;
        &::marker {
          color: var(--color-blue-petrol);
        }
      }
    }

    p {
      margin-bottom: 8px;
    }
  }
}
