/* GENERAL */
.login-pf body {
  margin: 0 auto;
  min-height: 100vh;
  max-width: 100%;
  font-family: "sofia-pro", sans-serif;
  color: #363757;
  font-size: 18px;
  overflow-x: hidden !important;
  overflow-y: auto !important;
}

.display-none {
  display: none !important;
}

.responsive-not-display {
  display: inline;
}

.responsive-display {
  display: none;
}

.kc-feedback-text {
  color: rgb(207, 29, 29);
}

#kc-page-title {
  font-size: 58px;
  line-height: 60px;
}

#kc-title-identity {
  color: #464cd0;
}

#kc-oauth-data-protection {
  margin-top: 24px;
  margin-bottom: 40px;
}

/* HEADER */
#kc-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 40px;
}

#kc-header-wrapper {
  display: inline;
  content: url("../img/logo-with-baseline.svg");
}

/* NAVIGATION */
nav .mcm-burger,
nav .mcm-burger-checkbox,
nav .mcm-mobile-nav {
  display: none;
}

nav .mcm-burger-button {
  fill: var(--color-green-leaf);
  width: 40px;
  height: 40px;
  display: block;
  pointer-events: none;
  padding: 0 !important;
  border: none !important;
  background: none;
}

nav .mcm-nav {
  display: block;
  top: 0;
  background: white;
  left: 0;
  bottom: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

nav .mcm-nav .mcm-nav-list {
  display: flex;
  margin: 0;
}

nav .mcm-nav .mcm-nav-list .nav-item {
  font-size: 16px;
}

nav .mcm-nav .nav-item {
  list-style: none;
  font-weight: 400;
}

nav .mcm-nav-list .nav-item:not(:last-child) {
  margin-right: 40px;
}

nav .mcm-nav .nav-item a {
  color: inherit;
  text-decoration: inherit;
}

nav .mcm-nav .nav-login {
  font-weight: 600;
  color: #01bf7d;
  cursor: pointer;
}
/* END - NAVIGATION */
/* END - HEADER */

/* INPUTS */
label {
  font-size: 14px;
}

input[type="text"],
input[type="password"] {
  margin-top: 12px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  border: 1px solid #d5d6df;
  padding: 18px 32px;
  border-radius: 34px;
  outline: 0;
  max-width: 400px;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
  color: #d5d6df;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border: 1px solid #363757;
}
/* END - INPUTS */

/* LINK */
.kc-forgot-password > span > a,
#kc-reset-password-form #kc-form-options a {
  font-size: 13px;
  color: #363757;
  text-decoration: none;
}

.kc-forgot-password > span > a:hover,
#kc-reset-password-form #kc-form-options a:hover {
  text-decoration: underline;
}
/* END - LINK */

/* MCM BUTTON STYLE */
#button-activated,
.pf-c-button,
.mcm-link {
  border-radius: 27px;
  background-color: #01bf7d;
  color: white;
  font-family: "sofia-pro", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.375;
  padding: 14px 36px 16px;
  border: 1px solid #01bf7d;
  cursor: pointer;
  text-decoration: none;
  width: fit-content;
  max-width: 400px;
}

#button-activated a,
.mcm-link {
  text-decoration: none;
  color: white;
}

#button-activated:hover,
#button-activated:hover > a,
.pf-c-button:hover,
.mcm-link:hover {
  background-color: transparent;
  transition: background-color 0.2s ease-in-out;
  color: #01bf7d !important;
}
/* END - MCM BUTTON STYLE */
/* END - GENERAL */

/* MCM IMAGE GLOBAL */
#mcm-img {
  position: absolute;
  height: 100vh;
  width: 40%;
  right: 0;
  display: flex;
  align-items: center;
  z-index: -1;
}

#mcm-img-cover-right {
  position: relative;
  content: url("../img/woman-smiling.jpg");
  border-radius: 300px 0px 0px 300px;
  height: 60%;
}

#mcm-img-M-right {
  position: absolute;
  content: url("../img/letter-m.svg");
  height: 23%;
  bottom: 16%;
  left: -16%;
}
/* END - MCM IMAGE GLOBAL */

/* LOGIN PAGE */
#mcm-login {
  display: flex !important;
  width: 100%;
  margin-left: 8%;
  max-height: 360px;
  margin-top: 28px;
}
#mcm-login > * {
  flex: 1;
}

#mcm-login h1 {
  font-size: 32px;
  line-height: 40px;
  margin-top: -12px;
}

/* LOGIN FORM */
#kc-form-login {
  max-width: 400px;
  margin-right: 8%;
}

.kc-inputs-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-group {
  display: flex;
  flex-direction: column;
  color: #363757;
}

.form-section {
  margin-bottom: 20px;
  position: relative;
}

/* PASSWORD */
.kc-forgot-password {
  text-align: right;
  margin-top: 18px;
}

.mcm-eye-img {
  content: url("../img/visible.svg");
  color: #363757;
  opacity: 0.1;
  height: 16px;
  position: absolute;
  right: 30px;
  top: 54px;
  cursor: pointer;
  z-index: 1;
}

.mcm-eye-visible {
  opacity: 1 !important;
}
/* END - PASSWORD */
/* CHECKBOX */

.checkbox {
  position: relative;
  font-size: 14px;
}

.checkbox * {
  cursor: pointer !important;
}

.checkbox [type="checkbox"]:not(:checked),
.checkbox [type="checkbox"]:checked {
  height: 20px;
  width: 20px;
  opacity: 0.01;
}

/* Aspect de la case */
.checkbox label::before {
  content: "";
  position: absolute;
  left: -30px;
  width: 20px;
  height: 20px;
  border: 1px solid #d1d1d1;
  background: #fff;
  border-radius: 5px;
  transition: all 0.275s;
}

.checkbox [type="checkbox"]:not(:checked),
.checkbox [type="checkbox"]:checked {
  position: absolute;
  opacity: 0;
}

/* Aspect de la coche */
.checkbox label::after {
  content: "";
  background-image: url("../img/valid.svg");
  background-size: 42px 42px;
  background-repeat: no-repeat;
  background-position: -8px -11px;
  position: absolute;
  left: -29px;
  top: 1px;
  width: 30px;
  height: 20px;
  transition: all 0.2s;
}

/* Aspect non cochée */
.checkbox [type="checkbox"]:not(:checked) + label::after {
  opacity: 0;
  transform: scale(0);
}

/* Aspect cochée */
.checkbox [type="checkbox"]:checked + label::after {
  opacity: 1;
  transform: scale(1);
}
/* END - CHECKBOX */
/* END - LOGIN FORM */

/* SIGNIN FORM */
#signin-section {
  display: flex;
  justify-content: space-between;
  border-left: 1px solid #d5d6df;
  padding-left: 8%;
}

#signin-section .signin-section-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#signin-section .signin-text > * {
  max-width: 400px;
}

#signin-section #mcm-img-login {
  content: url("../img/girl-bike.jpg");
  border-radius: 300px 0px 0px 300px;
  height: 500px;
  margin-right: -180px;
  margin-top: -50px;
}
/* END - SIGNIN FORM */
/* END - LOGIN PAGE */

/* INFOS PAGE */
.card-pf {
  margin: 100px;
}

.mcm-subtitle {
  color: #464cd0;
  font-size: 24px;
  line-height: 28px;
  font-family: "sofia-pro", sans-serif;
}

.retour-ligne {
  width: 500px;
}

.button-redirect {
  margin-top: 40px;
  width: 100%;
}
/* END - INFOS PAGE */

/* RESET PASSWORD PAGE */
#kc-reset-password-form {
  margin-top: 20px;
}
#kc-reset-password-form input[type="text"] {
  max-width: 326px;
}
#kc-form-options {
  margin: 20px 0px;
}
#kc-reset-password-form #kc-form-buttons {
  margin-top: 20px;
}

#kc-reset-password-form .mcm-regex-error {
  color: #e35447;
}
/* END - RESET PASSWORD PAGE */

/* BANNER ERROR & SUCCESS */
.alert-error,
.alert-success {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
  right: 0px;
  font-size: 14px;
  z-index: 100;
}

.alert-error .kc-feedback-text {
  position: absolute;
  background-color: #e35447;
  padding: 10px;
  border-radius: 0px 0px 6px 6px;
  padding: 10px 24px 10px 16px;
}

.alert-success .kc-feedback-text {
  position: absolute;
  background-color: #01bf7d;
  padding: 10px;
  border-radius: 0px 0px 6px 6px;
  padding: 10px 24px 10px 16px;
}

.alert-error span,
.alert-success span {
  color: white !important;
}

.alert-error .span-line-retour,
.alert-success .span-line-retour {
  display: block;
}

.alert-error #close-error,
.alert-success #close-error {
  position: absolute;
  top: 0px;
  right: 10px;
  cursor: pointer;
  display: block !important;
}

#close-error {
  display: none;
  font-family: sans-serif;
  font-size: 20px;
}
/* END - BANNER ERROR */

/* VERIFICATION EMAIL PAGE */
.instruction {
  max-width: 50%;
}
/* END - VERIFICATION EMAIL PAGE */

.kc-screen-list-group li::marker {
  color: #464cd0;
  font-size: 20px;
}

/* RESPONSIVE */
@media screen and (min-width: 1600px) {
  #mcm-login {
    margin-top: 150px;
  }

  #signin-section #mcm-img-login {
    margin-right: 0px;
  }
}

@media screen and (max-width: 1250px) {
  #mcm-img {
    align-items: flex-end;
  }

  #mcm-img-cover-right {
    height: 40%;
    margin-bottom: 20%;
  }

  #mcm-img-M-right {
    height: 15%;
    bottom: 6.5%;
    left: -17%;
  }

  #signin-section #mcm-img-login {
    display: none;
  }

  .instruction {
    max-width: 100%;
  }
}

@media screen and (max-width: 965px) {
  #kc-header {
    padding: 28px 24px !important;
  }

  #kc-content {
    padding-bottom: 220px;
  }

  #kc-header-wrapper {
    content: url("../img/logo-mobile.svg");
    width: 76px;
  }

  #kc-oauth {
    margin-top: 40px;
  }

  #kc-oauth-form #kc-form-buttons-group {
    background-color: #ffffff;
    border-top: 1px solid #dddddd;
    box-sizing: border-box;
    bottom: 0;
    left: 0;
    padding: 32px 32px 32px 32px;
    position: fixed;
    width: 100%;
  }

  #kc-oauth-data-protection {
    color: #747480;
    font-size: 16px;
    margin-bottom: 0;
  }

  #kc-form-buttons-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #kc-oauth-form #kc-form-buttons-group #kc-form-buttons-content #kc-login {
    margin-bottom: 24px;
  }

  #kc-oauth-form #kc-form-buttons-group #kc-form-buttons-content #kc-cancel {
    background-color: #ffffff;
    color: #363757;
  }

  input[type="submit"] {
    width: 100%;
  }

  .retour-ligne {
    width: auto;
  }

  #mcm-img {
    display: none;
  }

  #mcm-login {
    max-height: max-content;
    flex-direction: column-reverse;
    margin-left: 0;
  }

  .form-group {
    width: 100%;
  }

  #kc-form-login {
    max-width: auto;
    margin-right: 0;
    margin-top: 50px;
  }

  .kc-inputs-form {
    flex-direction: column-reverse;
    align-items: flex-start;
    width: 100%;
  }

  .mcm-eye-img {
    top: 50px;
  }

  .kc-inputs-form .checkbox {
    margin-bottom: 30px;
    margin-left: 30px;
  }

  #signin-section {
    flex-direction: column;
    border-left: none;
    padding-left: 0;
    width: 100%;
  }

  #signin-section .signin-section-left {
    flex-direction: row;
    justify-content: space-between;
  }

  #signin-section > a {
    width: 75%;
    max-width: 326px;
    text-align: center;
    margin-top: 30px;
  }

  #signin-section .signin-text > * {
    max-width: auto;
  }

  #signin-section #mcm-img-login {
    height: 200px;
    margin-right: -100px;
    margin-top: -10px;
    display: inline;
  }

  .form-group > input[type="text"],
  .form-group > input[type="password"] {
    margin-top: 8px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    border: 1px solid #d5d6df;
    padding: 18px 32px;
    border-radius: 34px;
    outline: 0;
  }

  #signin-section .responsive-not-display {
    display: none !important;
  }

  .responsive-display {
    display: inline;
  }

  .mcm-link {
    width: 100%;
    max-width: 400px;
    padding: 14px 0px 16px;
    text-align: center;
  }

  nav .mcm-burger-checkbox,
  nav .mcm-mobile-nav,
  nav .mcm-burger {
    display: block !important;
  }

  nav .mcm-burger {
    margin-left: auto;
    width: 40px;
    position: relative;
    cursor: pointer;
    z-index: 20;
  }

  nav .mcm-nav .nav-item {
    line-height: 32px;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 40px;
  }

  nav .mcm-burger-checkbox {
    opacity: 0;
    position: absolute;
  }

  nav .mcm-burger-checkbox:checked + .mcm-burger {
    position: fixed;
    top: 28px;
    right: 28px;
  }

  nav .mcm-burger-checkbox:checked + .mcm-burger-button {
    margin-left: auto;
  }

  nav .mcm-burger-checkbox:checked ~ .mcm-burger .mcm-burger-button > i {
    background-image: none;
    justify-content: center;
    background-position-x: center;
    z-index: 1000;
  }

  nav
    .mcm-burger-checkbox:checked
    ~ .mcm-burger
    .mcm-burger-button
    > i::before {
    transform: translateY(50%) translateX(12%) rotate3d(0, 0, 1, 45deg);
    width: 24px;
  }

  nav .mcm-burger-checkbox:checked ~ .mcm-burger .mcm-burger-button > i::after {
    transform: translateY(-50%) translateX(12%) rotate3d(0, 0, 1, -45deg);
    width: 24px;
  }

  nav .mcm-burger-checkbox:checked ~ .mcm-nav {
    display: block !important;
    position: fixed;
    width: 100%;
    height: 100vh;
  }

  nav .mcm-burger-checkbox:checked ~ .mcm-nav .mcm-nav-list .nav-item {
    font-size: 26px;
  }

  nav .mcm-burger-checkbox:not(:checked) ~ .mcm-nav {
    display: none;
  }

  nav .mcm-burger-button > i {
    display: inline-flex;
    vertical-align: top;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    padding: 9px 5px;
    background-color: transparent;
    background-image: linear-gradient(#01bf7d, #01bf7d);
    background-position: left center;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: 24px 2px;
    transition: 0.25s;
    transition-property: transform;
    will-change: transform;
    width: 22px;
    height: 22px;
  }

  nav .mcm-burger-button > i::before,
  nav .mcm-burger-button > i::after {
    content: "";
    height: 2px;
    background: #01bf7d;
    transition: 0.25s;
    transition-property: transform, top;
    will-change: transform, top;
  }

  nav .mcm-burger-button > i::before {
    width: 30px;
  }

  nav .mcm-burger-button > i::after {
    width: 16px;
  }

  nav .mcm-nav {
    padding: 28px 24px;
  }

  nav .mcm-nav .mcm-nav-list {
    flex-direction: column-reverse;
  }

  nav .mcm-nav ul {
    padding: 51px 0px;
  }

  nav .mcm-mobile-nav {
    margin: 0px 50px 0px 0px;
    border-top: 1px solid #d5d6df;
  }

  nav .mcm-mobile-nav .nav-item {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 26px;
  }

  nav .mcm-nav-list .nav-item {
    font-weight: bold !important;
  }

  nav .mcm-nav-list .nav-item:first-child {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 620px) {
  #kc-page-title {
    font-size: 24px;
    line-height: 28px;
  }

  .card-pf {
    margin: 50px 30px;
  }

  #signin-section #mcm-img-login {
    height: 200px;
    margin-right: -150px;
    margin-top: -10px;
  }
}
/* END - RESPONSIVE */
