
<%- include('commons/header'); %>

<div>
     <p>Nous vous souhaitons la bienvenue dans la communauté de Mon Compte Mobilité de <%= enterpriseName %> ! </p>
     <p>Afin de valider votre affiliation à votre employeur, nous vous invitons à cliquer sur le lien suivant :</p>
     <p><a target="_blank" href="<%= affiliationLink %>">Lien d'affiliation</a></p>
     <p>Vous pourrez alors voir l’ensemble des dispositifs d’incitation mis à disposition par votre employeur, et faire vos demandes pour accéder à ces dispositifs.</p>
</div>

<%- include('commons/footer'); %>
