<div>
  <p>Bonjour <%= username %> <%= familyName %></p>
  <p>
    La suppression de votre compte mobilité a été faite le <%= deletionDate%> avec succès.
    Nous tenons à vous informer que vous n'avez plus accès à Mon Compte Mobilité ni à vos
    demandes d'aides.
  </p>
</div>

<%- include('commons/footer'); %>
