<%- include('commons/header'); %>

<div>
    <p>Votre demande a bien été transmise à votre financeur.</p>

    <p>Connectez-vous à votre tableau de bord pour suivre l'avancée de votre demande.</p>
</div>

<%- include('commons/footer'); %>
