
<%- include('commons/header'); %>

<div>
     <p>Nous vous informons que votre employeur a supprimé votre affiliation. Vous ne pouvez donc plus accéder aux aides de votre entreprise.
      Vous pourrez toujours retrouver les aides validées dans votre suivi des demandes. </p>
     <p>Si vous pensez qu'il s'agit d'une erreur, nous vous invitons à contacter votre employeur.</p>
     <p>Votre accès aux aides à la mobilité ne s'arrête cependant pas là ! Vous pouvez toujours accéder aux aides de votre collectivité, ainsi que les aides nationales.</p>
</div>

<%- include('commons/footer'); %>