<div>
    <p>Bonjour <%= username %> </p>
    <p>
        Vous n'avez pas activé votre compte Mobilité créé depuis 6 mois !
        Votre compte est désormais considéré inactif et a été supprimé. L'ensemble de vos données personnelles ont été supprimées selon la réglementation en vigueur.
    </p>
    <p>A votre disposition,</p>
</div>