.mcm-steps {
  border-radius: 15px;
  background-color: var(--color-grey-ultralight);
  padding: 30px 26px;

  @media screen and (min-width: 768px) {
    display: flex;
    padding: 50px 40px;
    position: relative;
  }
  @media screen and (min-width: 1024px) {
    padding: 64px;
    justify-content: space-between;
  }
  .mcm-steps-title {
    color: var(--color-dark);
    font-size: 26px;
    font-weight: 600;
    line-height: 32px;
    margin-bottom: var(--spacing-s);
    text-align: center;
    @media screen and (min-width: 768px) {
      text-align: left;
      align-self: center;
      margin-bottom: 0;
      margin-right: 36px;
      max-width: 200px;
    }
    @media screen and (min-width: 1024px) {
      font-size: 32px;
      line-height: 40px;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    @media screen and (min-width: 768px) {
      align-items: center;
      flex-direction: column;
      max-width: 180px;
    }
    &:not(:last-child) {
      margin-bottom: var(--spacing-s);
      @media screen and (min-width: 768px) {
        margin-bottom: 0;
        margin-right: 36px;
      }
    }
    .step-img {
      display: flex;
      align-items: center;
      min-width: 84px;
      margin-right: var(--spacing-m);
      padding: 6px;
      @media screen and (min-width: 768px) {
        padding: 0;
        margin-bottom: 24px;
        margin-right: 0;
        min-width: 0;
      }
    }
  }
}
