* {
    font-family: 'sofia-pro', sans-serif;
    font-weight: 200;
    font-size: 15px;
    line-height: 1.5;
    overflow-wrap: break-word;
  }

  .grid-footer {
    display: grid;
    grid-template-columns: 600px;
    justify-content: center;
    height: 150px;
    width: 100%;
    text-align: center;
    padding-top: 30px;
    color: white;
    margin-top: 20px;
  }

  .grid-header {
    display: grid;
    grid-template-columns: 600px;
    justify-content: center;
    margin-bottom: 20px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 600px;
    justify-content: center;
  }

  .grid-center {
    text-align: left;
  }

  .header-container {
    text-align: center;
  }

  .confirm-btn {
    color: white;
    background-color: #01BF7D;
    border-radius: 25px;
    outline: none;
    padding: 12px 20px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-decoration: none;
  }

  .btn {
    margin: 35px 0;
    text-align: center;
  }

  .confirm-btn a {
    text-decoration: none;
    color: white;
  }

  .footer-logo {
    padding-top: 15px;
    width: auto;
    height: 50px;
    object-fit: contain;
  }

  .container {
    background-color: #464CD0;
  }

  .header-logo {
    width: auto;
    height: 50px;
  }

  .italic {
    font-style: italic;
    font-weight: bold;
  }

  .colorLink {
    color: white;
  }

  /* Mobile */

  @media screen and (max-width: 600px) {
    .grid-footer {
      grid-template-columns: 1fr;
      text-align: left !important;
      height: 100px;
      padding-top: 0;
      margin-top: 0;
    }

    .grid-header {
      grid-template-columns: 1fr;
    }

    .grid-container {
      grid-template-columns: 1fr;
    }
    .confirm-btn {
      padding: 10px 12px;
      font-size: 8px;
    }

    .container {
      position: relative;
      width: 100%;
      height: 100%;
    }

    .footer-img {
      position: absolute;
      left: 0;
      width: 50%;
      margin-left: 30px;
    }

    .footer-parag {
      position: absolute;
      right: 0;
      width: 40%;
      margin-right: 80px;
    }

    .footer-logo {
      height: 50px;
      padding-top: 20px;
    }
  }

  @media screen and (max-width: 438px) {

    .footer-parag {
      width: 50%;
      font-size: 12px;
      margin-right: 60px;
    }


  }
