ARG GATSBY_BASE_IMAGE_NAME
FROM ${GATSBY_BASE_IMAGE_NAME}

ENV CI_PROJECT_ID=%CI_PROJECT_ID%
ENV MCM_GITLAB_DEPLOY_NPM_TOKEN=%MCM_GITLAB_DEPLOY_NPM_TOKEN%
ENV NEXUS_NPM_PROXY_TOKEN=%NEXUS_NPM_PROXY_TOKEN%
ENV ADMIN_ACCES_ROLE=%MCM_CMS_ACCESS_ROLE%
ENV MATOMO_FQDN=%MATOMO_FQDN%
ENV MATOMO_ID=%MATOMO_ID%
ENV PATH_API=%PATH_API%
ENV PATH_IDP=%PATH_IDP%
ENV API_KEY=%API_KEY%

WORKDIR /site

ADD ./package*.json ./
ADD ./yarn.lock ./
ADD ./.npmrc ./
RUN yarn install
