@mcm:registry=https://gitlab-dev.cicd.moncomptemobilite.fr/api/v4/projects/${CI_PROJECT_ID}/packages/npm/ 
//gitlab-dev.cicd.moncomptemobilite.fr/api/v4/projects/${CI_PROJECT_ID}/packages/npm/:_authToken=${MCM_GITLAB_DEPLOY_NPM_TOKEN} 
 
registry=https://nexus-dev.cicd.moncomptemobilite.fr/repository/npm-mcm/ 
//nexus-dev.cicd.moncomptemobilite.fr/repository/npm-mcm/:_authToken=${NEXUS_NPM_PROXY_TOKEN}

always-auth=true
